/*General*/
*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    
    background: rgba(255, 254, 235, 1);
    font-family: "Poppins", sans-serif;
}
body{
    background-color: rgba(255, 254, 235, 1) !important;
    min-width: 100vh;
    min-height: 100vh;
    text-align: center !important;
}




    /*Header*/
    #header{
        width: 100%;
        height: 70px;
        background-color: rgba(179, 143, 102, 1);
    }
    #menu-area{
        background-color: rgba(179, 143, 102, 1);
    }
    .nav{
        background-color: rgba(179, 143, 102, -0.2);
    }
    #header a{
        color: #000;
        height: 70px;
        line-height: 50px;
    }
    .options{
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.095em;
        margin: 0;
        right: -200px;
    }
    

    #links-menu > #name{
        font-weight: 500;
        font-size: 24px;
        letter-spacing: 0.37em;
        margin-left: 0%;
    }


/*All titles will have these properties*/
.titles{
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 0.15em;
}

    /*About*/
    #about{
        padding: 11.4% 8%;
    }
    .blocks-about{
        max-height: 73%;
    }
    #img-about{
        width: 396px;
        max-width: 92%;
    }
    #aboutme-text{
        width: 396px;
        max-width: 92%;
        height: 100%;
        margin: 0 auto;
        background-color: rgba(154, 194, 219, .70);
    }
    #aboutme-text > h3, p{
        background-color: rgba(154, 194, 219, .0);
    }
    #aboutme-text > h3{
        padding: 15% 0% 7.5%;
    }
    #aboutme-text > p{
        font-weight: 300;
        font-size: 18px;
        letter-spacing: 0.095em;
        padding: 10% 0% 15%;
        margin: 0;
    }
    #aboutme-text > button{
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.095em;
        margin: 9% 0% 0%;
        background-color: rgb(210, 229, 255);
    }
    #aboutme-text > button:hover{
        background-color: rgba(204, 240, 255, 0.5);
        box-shadow: 5px 5px 10px rgba(152, 191, 216);

    }


    /*Footer*/
    #footer{
        height: 70px;
        background-color: rgba(179, 143, 102, .2);
    }
    #footer-area{
        background-color: rgba(179, 143, 102, 1);
    }
    #footer a{
        color: #000;
        height: 70px;
        line-height: 50px;
    }
    #name-footer{
        font-weight: 500;
        font-size: 24px;
        letter-spacing: 0.37em;
        margin-right: 50px;
        color: rgb(0, 0, 0);
        margin-top: 5px;

    }
    .icon, #year{
        background-color: rgba(179, 143, 102, 1);
    }
    .icon{
        color: rgb(0, 0, 0);
        font-size: x-large;
        position: relative;
        height: 50px !important;
        left: 15px;
        top: 15px;
    }
    .icon > i{
        background-color: rgba(179, 143, 102, -.2);
    }
    .icon > #in{
        position: relative;
        left: 25px;
    }
    #year{
        position: relative;
        color: rgb(0, 0, 0);
        position: absolute;
        padding: 0;
        top: 25px;
        right: 30px;
    }
    #middlename-footer{
        display: none;
    }



